# Supabase Configuration
VITE_SUPABASE_URL= 'https://hrzawyqygriplqbcjwkf.supabase.co'
VITE_SUPABASE_ANON_KEY= 'sb_publishable_DQnDM7SSR5mgEwDGJ89Ihg_-t9QJKRh'

# Gemini API Key (Handled by platform)
GEMINI_API_KEY=
